{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/product.css' %}" >{% endblock css %}
{% block title %}Customer Page {% endblock title %}
{% block body %}
<div class="bg-light pb-2" style="width:450px;" >
    <form action="" method="POST">
    
        {% csrf_token %}
    <p>Are you sure? You want to delete <strong>{{item.product.name}}</strong>?</p>
    <br>
    <a class="btn btn-warning" href="/">Cancel</a>
    <input class="btn btn-danger" type="submit"  value="Submit">
    
    
</form>

</div>

{% endblock %}